[Unit]
Description=Minecraft Server {{ minecraft_version }}
After=network.target

[Service]
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_dir }}


ExecStart=/usr/bin/java \
  -Xms512M \
  -Xmx{{ server_memory_mb }}M \
  -jar {{ minecraft_dir }}/{{ minecraft_jar }} \
  --nogui


ExecStop=/bin/kill -SIGTERM $MAINPID
TimeoutStopSec=60

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
